language: ruby
rvm:
  - jruby-1.7.24
  - jruby-9.0.5.0
  - jruby-9.1.2.0
branches:
  only:
    - master
services:
  - redis-server
env:
  - resque="master" delayed_job="~>4.1" activerecord="~>4.2.6"
  - resque="~>1.25.2" delayed_job="~>4.0" activerecord="~>4.2.6"
  - resque="~>1.24.1" delayed_job="~>3.0" # activerecord="~>3.2"
  - resque="~>1.23.1" delayed_job="~>2.1" activerecord="~>3.2.22"
  - resque="~>1.26.0" delayed_job="~>4.1" activerecord="~>4.2.6"
allowed_failures:
  - env: resque="~>1.26.0" delayed_job="~>4.1" activerecord="~>4.2.6"
